* {
  /* background-repeat: no-repeat; */
  background-size: 100%;
  background-attachment: fixed;
  font-family: "Times New Roman", Times, serif;
  background-image: url("../Assest//night-road-blue-weather-forest-stars-4k-54.jpg");
  color: white;
}
.Head {
  font-size: 40px;
  margin-top: 2%;
}

.Input {
  font-size: 18px;
  margin: 4%;
}
input {
  font-size: 22px;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  color: white;
  text-transform: capitalize

}
::placeholder { 
  color: white;
  opacity: 1; 
}


.City {
  font-size: 80px;
}
.temp1,
.temp2,
.temp3 {
  display: inline;
  margin: 10px;
}
.Temp {
  width: fit-content;
  margin: 75px;
  margin-left: 23%;
  font-size: 40px;
}
.Descrptn {
  font-size: 30px;
}
.Main-temp {
  font-size: 30px;
}
